.container{
    max-width: 700px;
    margin: 0 auto;
    padding: 0 1.5em;
}   

.music-list{
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid rgba(93, 201, 192);
}

.music-list:last-child{
    border-bottom: none;
}

.music-list-item{
    display: inline-block;
    padding-right: .5em;
}

.music-list-author{
    font-weight: bolder;
    padding-left: 1em;
    width: 22%;
}

.music-list-song{

    width: 50%;
}

.music-list-image{
    max-width: 22%;
    height: 25px;
    max-width: 35px;
}

.music-list-image:hover{
    background-color: rgba(93, 201, 192, 0.5);
}
